html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pano {
  height: 100%;
  width: 100%;
}
#starting_panel {
    position: absolute; 
    height: 100vh;
    width: 100vw;
    top: 0; 
    left: 0; 
    z-index: 100;
    background-color: rgba(0, 0, 0, .6);
    color: white; 
    display: grid;
    place-items: center;
}
.starting_section {
    width: 65vw;
    text-align: center;
}
.starting_section p {
    width: 75%;
    margin: auto; 
}
.title.main {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
}
.button {
    color: white; 
    font-size: 17px;
    padding: 7px 21px; 
    border: none;
    margin: 20px; 
    cursor: pointer; 
    transition: .3s ease-in; 
}
.button.orange_line {
    color: orangered; 
    border: 2px solid orangered; 
    background-color: transparent;
}
.button.orange_line:hover {
    background-color: orangered;
    color: white;
}
.button.orange_line.left {
    border-radius: 25px 0px 0px 25px;
}
.button.orange {
    font-weight: bold;
    background-color: orangered;
}
.button.orange:hover {
    box-shadow: 0px 0px 3px black;
    
}
.button.link {
    color: darkblue; 
    background-color: transparent;
    opacity: 0.6; 
}
.button.link:hover {
    opacity: 1;
}

/* Guide style  */
#guide_section {
    background-color: rgba(255, 255, 255, .9);
    color: black; 
    box-shadow: 0px 0px 8px;
    position: absolute; 
    top: 35px; 
    left: 15px; 
    z-index: 50;
    padding: 0px 20px 10px 20px;
    border-radius: 25px;
    max-width: 45%;
}
#guide_section article, #guide_section h2 {
    display: hidden;
}
section.open {
    width: 50%;
    padding: 15px 15px 15px 40px !important; 
    border-radius: 10px;

}
.csu_guide_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.csu_guide_top section {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
#guide-section .open .csu_guide_top {
    margin-top: 20px;
}
#csu_logo {
    background-color: orangered;
    color: white; 
    font-family: serif;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    display: grid;
    place-items: center;
    font-size: 11px;
    margin-right: 10px;
}
.gm-iv-address {
    display: none; 
}
/* Guide navigator */
.guide_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.img_btn {
    height: 20px; 
    padding: 3px; 
    border: 2px solid orangered;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 15px;
    transition: .3s;  
}
.img_btn:hover {
    height: 23px;
}
img.min_btn {
    /* background-color: midnightblue; */
    cursor: pointer; 
    height: 18px; 
    margin-right: 0px 25px; 
    transition: .3s; 
    margin-top: 10px;
    margin-left: 15px;
}
img.min_btn:hover {
    height: 20px; 
}